.hero{

min-height:100vh;

padding:140px 8% 80px;

display:flex;

align-items:center;

justify-content:space-between;

background:linear-gradient(135deg,#F8FAFC,#EFF6FF);

overflow:hidden;

position:relative;

}

.hero-left{

width:52%;

}

.hero-right{

width:45%;

position:relative;

display:flex;

justify-content:center;

align-items:center;

height:650px;

}

.hero-tag{

display:inline-block;

padding:10px 18px;

background:#DBEAFE;

color:#2563EB;

font-weight:600;

border-radius:40px;

margin-bottom:25px;

}

.hero h1{

font-size:64px;

line-height:1.15;

font-weight:700;

margin-bottom:30px;

color:#1E293B;

}

.hero h1 span{

color:#2563EB;

}

.hero-description{

font-size:18px;

line-height:1.9;

color:#64748B;

max-width:620px;

margin-bottom:40px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.primary-btn{

display:flex;

align-items:center;

gap:12px;

background:#2563EB;

color:white;

padding:18px 32px;

border-radius:10px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.primary-btn:hover{

transform:translateY(-4px);

background:#1D4ED8;

}

.secondary-btn{

padding:18px 32px;

border:2px solid #2563EB;

text-decoration:none;

color:#2563EB;

border-radius:10px;

font-weight:600;

transition:.3s;

}

.secondary-btn:hover{

background:#2563EB;

color:white;

}

.circle{

width:520px;

height:520px;

background:#DBEAFE;

border-radius:50%;

position:absolute;

}

.dashboard-preview{

width:360px;

background:white;

border-radius:18px;

box-shadow:0 30px 60px rgba(0,0,0,.12);

overflow:hidden;

position:absolute;

z-index:10;

}

.dash-header{

padding:20px;

background:#2563EB;

color:white;

font-size:20px;

font-weight:600;

}

.dash-body{

padding:25px;

}

.dash-row{

display:flex;

justify-content:space-between;

padding:14px 0;

border-bottom:1px solid #eee;

}

.hospital-card{

position:absolute;

background:white;

padding:18px;

border-radius:16px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

display:flex;

flex-direction:column;

align-items:center;

gap:10px;

color:#2563EB;

}

.hospital-card svg{

font-size:34px;

}

.big{

top:20px;

left:40px;

width:170px;

}

.left{

bottom:70px;

left:20px;

width:130px;

}

.right{

top:140px;

right:10px;

width:130px;

}

@media(max-width:1000px){

.hero{

flex-direction:column;

text-align:center;

padding-top:120px;

}

.hero-left{

width:100%;

}

.hero-right{

width:100%;

margin-top:80px;

height:550px;

}

.hero h1{

font-size:48px;

}

.hero-buttons{

justify-content:center;

flex-wrap:wrap;

}

.dashboard-preview{

width:320px;

}

.circle{

width:420px;

height:420px;

}

}

@media(max-width:600px){

.hero h1{

font-size:38px;

}

.hero-description{

font-size:16px;

}

.primary-btn,
.secondary-btn{

width:100%;

justify-content:center;

}

.hero-buttons{

flex-direction:column;

}

.dashboard-preview{

width:90%;

}

.circle{

width:320px;

height:320px;

}

}